/* Fluxuan Linux One-Bar Theme */
/* All rights reserved */
/* You can use and modify this theme however you want but don`t remove this banner. */
/* https://fluxuan.org  -  https://forums.fluxuan.org */
:root {
	--navbarWidth     : 33vw; 
}

#PanelUI-menu-button {display: none;}

/* Title bar */
.titlebar-buttonbox {
    display: none !important;
}

.titlebar-spacer {
    display: none !important;
}

/* Tab bar */
#navigator-toolbox {
    border: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

/* "Shield" icon */
#tracking-protection-icon-container { display: none !important }

/* Site information button */
#identity-box { display: none !important }

#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
  margin-top: 0px;
  border      : none !important;
  -moz-appearance: none !important;
}

#personal-toolbar-empty {
  visibility: hidden !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
  margin-right: calc(100vw - var(--navbarWidth)) !important;
    
}

:root[uidensity="compact"] #nav-bar {
  margin-top  : -37px !important;
  height      : 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}

/* URL bar */


#urlbar-container {
    min-width: 100px !important;
}

#urlbar {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 100vw;
}


#page-action-buttons {
    display: none !important;
}

